*{
  margin: 0;
   padding:0;
  }
.navbar {
  /*display: flex;*/
  background-color: #021120;
  height: 88px;
  

}


navbar > div {
  background-color: #021120;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color: antiquewhite;
  }
.logo {
  background: url('./image/logo.png') 50% / cover no-repeat;
  width: 3.9rem;
  height: 2.6rem;
}
.navbar .btn-rejoindre {
  margin-left: auto; 
  background-color:#FFD700;
  border-radius: 1rem;
  padding: 10px 10px 10px;


}

.hero-section {
  position: relative;
  display: inline-block;
  width: 100%;
  
}


.button-overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#FFD700;
  border-radius: 1rem;

}
.hero-section .btn{
  color: rgb(250, 249, 247);
  background-color:#FFD700;
  font-size: 20px;
  padding: 25px 50px 25px;
  border-radius: 1rem;

}
.text-overlay {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
 
}

.text-overlay p {
  text-align:start;
  color:antiquewhite;
  font-size: 30px;
  display:flex;
  flex-direction: row
  ;
}

.middle-image-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle-image{
  width: 100%;
  transform: rotate(-31deg);
}
.width-nav{
  height: 5,5rem;
}
.h3{
  background-color: #021120;

}
.why-riz-9-bank{
  background-color: #021120;
  color: antiquewhite;
  font-size: xxx-large;
  padding-left: 40%;
  display: flex;
  flex-direction: row;
}
.h3{
  padding-left: 35%;
  background-color: #021120;
  color: antiquewhite;
}
.card-body{
  height: 100%;
  background-color: #021120;
}
.card-body p{
  color: antiquewhite;
}
.card-body h5{
  color: antiquewhite;
}
#card-img{
  height: 250px;
  object-fit: cover;
  background-color: #021120;

}
#card-img-top{
  max-width: 350px; max-height: 350px;  object-fit: cover;
  background-color: #021120;

}
.avantage2{
  display:flex;
  flex-direction: row;
}
.prinsipal2{
  display:flex;
  flex-direction: row;
}
.join-our-list{
  background-color: #021120;
  color:antiquewhite;
 
}
.join{
  display: flex;
  flex-direction: column;
}
.btn-primary{
  PADDING-LEFT: 12%;
    margin-left: 40%;
    PADDING-RIGHT: 12%;
    margin-left: 40%;
    margin-top: 70px;
    background-color:#FFD700;
    border-radius: 2rem;}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #021120;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
 /* border: 1.1px solid white;*/
  padding: 5px;
  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;

}


/* Media Queries */

/* Tablets */
@media screen and (max-width: 1023px) {
 
  .hero-section .btn {
    padding: 20px 40px;
    font-size: 18px;
  }

  .text-overlay p {
    font-size: 16px;
  }

 
}

/* Mobile */
@media screen and (max-width: 767px) {
  

  .hero-section .btn {
    padding: 5px 12px;
    font-size: 12px;
  }

  .text-overlay p {
    font-size: 14px;
  }
}

